*{
    justify-content: center;
}

body{
    height:100vh;
    margin: 0;
    align-items: center;

}

h1{
    color: #BB99DD;
    display: flex;
}

.photo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 619px;
    top: 207px;
    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 100px;
    
}

.atalhoInsta{
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 486px;
    color: #BB99DD;
    text-align: center;
    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
    
}

.atalhoLikedin{
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 551px;
    text-align: center;
    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
    color: #BB99DD;
    
}

.atalhoGitHub{
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 616px;
    text-align: center;
    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
    color: #BB99DD;
}

.links{
    
    display: flex;
    position: absolute;
    width: 236px;
    height: 24px;
    left: 601px;
    top: 798px;
    justify-content: space-between;
    flex-direction: row;
    
}